<p>citta-inserimento works!</p>
<div class="row">
    <div class="col">
        <h2>Inserimento citta</h2>
        <div class="form-group">
            <label for="input-city">city</label>
            <input type="text" class="form-control" id="input-city" [(ngModel)]="cit" />
        </div>
        <div class="form-group">
            <label for="input-information">information</label>
            <input type="text" class="form-control" id="input-information" [(ngModel)]="info" />
        </div>
        <div class="form-group">
            <label for="input-temperature">temperature</label>
            <input type="number" class="form-control" id="input-temperature" [(ngModel)]="temp" />
        </div>
        <div class="form-group">
            <label for="input-conditions">conditions</label>
            <input type="text" class="form-control" id="input-conditions" [(ngModel)]="cond" />
        </div>
        <div class="form-group">
            <label for="input-umidity">umidity</label>
            <input type="number" class="form-control" id="input-umidity" [(ngModel)]="umid" />
        </div>
        <div class="form-group">
            <label for="input-wind">wind</label>
            <input type="number" class="form-control" id="input-wind" [(ngModel)]="win" />
        </div>
<button type="submit" class="btn btn-primary" (click)="salva()">Save</button>
    </div>


</div>