<p>preferiti works!</p>
<h1>ORDINA CON LA FUNZIONE DICHIARATA IN preferiti component " ordinaCitta() " CITTA SELEZIONATE</h1>
<!--
<table class="table table-striped">
    <thead>
<tr>
    <th>Citta</th>
    <th>Info:</th>
    <th>Temperatura</th>
    <th>condizioni</th>
    <th>umidity</th>
    <th>Vento</th>
</tr>
 </thead>
 <tbody>
<tr *ngFor="let item of preferiti"> 
    <td>{{item.city}}</td>
    <td>{{item.information}}</td>
    <td>{{item.temperature}}</td>
    <td>{{item.conditions}}</td>    
    <td>{{item.humidity}}</td>
    <td>{{item.wind}}</td>
    <td>
        <button type="button" class="btn btn-outline-danger" >Scrivi (Click)="elimina()" X</button>
    </td>
</tr>
 </tbody>
</table>
-->