<h3>Le città aggiunte ai preferiti sono:</h3>
<li *ngFor="let p of elencoPreferiti">
    <div class="card" >
        <h2 class="card-head">{{ p.nome || "Seleziona la città" }}</h2>        
        <div class="card-body">
            <button class="btn btn-danger btn-sm" (click)="EliminaPreferito(p.nome, p.lat, p.lon)"><i class="fa fa-trash fa-sm"></i></button>
            <button class="btn btn-primary btn-sm ms-2" (click)="SelezionaCitta(p.lat, p.lon, p.nome)"><i class="fa fa-eye fa-sm"></i></button>
        </div>
    </div>
</li>        

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>{{ meteoDati?.hourly_units?.temperature_2m || 'Temperatura' }}</th>
                    <th>{{ meteoDati?.hourly_units?.precipitation || 'Precipitazioni' }}</th>
                    <th>{{meteoDati?.hourly_units?.relative_humidity_2m || 'Umidita'}}</th>
                    <th>{{meteoDati?.hourly_units?.wind_speed_10m || 'Vento'}}</th>
                    <th>Stato</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of meteoDati?.hourly?.time; let i = index">
                    <td> {{ ConvertiUnixDataToItaliano(t) }}</td>
                    <td>{{ meteoDati!.hourly!.temperature_2m![i] }}</td>
                    <td>{{ meteoDati!.hourly!.precipitation![i] }}</td>
                    <td>{{ meteoDati!.hourly!.relative_humidity_2m![i] }}</td>
                    <td>{{ meteoDati!.hourly!.wind_speed_10m![i] }}</td>
                    <td>
                        <i class="{{ ConvertiIconeMeteo(meteoDati!.hourly!.weathercode![i]) }}"></i>
                    </td>
                </tr>
            </tbody>
        </table>