body {
    background: linear-gradient(to right #99cbff , #e45b63);
    font-family: "Poppins", "sans-serif"; 
}

.weather-app{
min-width: 400px;
margin: 100px auto;
background: linear-gradient(to right, #faacfa, #ddd6f3);
border-radius: 15px;
padding: 20px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
color: #721c24;
}
.weather-info{
text-align: center;
margin-bottom: 10px;
}
.search-input{
border-radius: 5px;
}
.search-btn{
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.info-item{
display: flex;
justify-content: space-between;
margin-bottom: 10px;
color: #721c24;
}
.temperature{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color:#721c24 ;
}
.description{
    text-align: center;
    margin-top: 5px;
    color: #721c24;
}
.card{
    border-radius: 9px;
    margin-top: 5px;
    border-color: #721c24;
    color: cadetblue;    
    background-color: gainsboro;
    }
.card-title{
    margin-top: 5px;
    color: #88343c;      
}
.card-body{
    margin-top: 5px;
    color: #88343c;            
            
}
.card-text{
    margin-top: 5px;
    color: #88343c;         
}
.card-icon{
    margin-top: 5px;
    color: #88343c;         
}
.card-head{
    margin-top: 5px;
    color: #88343c;         
}