<div class="container">
    <div class="weather-card">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" id="form1" class="form-control" placeholder="Enter city" aria-label="Cerca" />
        </div>
        <div class="input-group">
            <input type="text" class="font-control search-input" placeholder="Enter location"/>
            <button class="btn btn-outline-success search-btn">Cerca</button>
        </div>
        
        <div class="card" style="width: 18rem;">
            <h2>CITTA CERCATA</h2>
            <img class="mx-auto d-block" src="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_3-128.png" class="card-img-top"  height="120px" width="140px" >
            <div class="card-body">
                <!--API GET CITTA CERCATA--->
              <h5 class="card-title">{{data.city}}{{data.temperature+'C°'}}</h5>
              <p class="card-text"> {{data.information+' '}} {{data.conditions+' '}} {{data.humidity+'%   '}} {{data.wind+' km/h'}} </p>
              <a href="/preferiti" class="btn btn-primary">
                <img src="https://img.icons8.com/?size=64&id=40097&format=png " class="card-img-top">
               <!-- <ion-icon name="add-circle-outline">ADD</ion-icon> --> 
              </a>
            </div>
          </div> 
    </div>
</div>

<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Grafico24Ore</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <p>Caricamento grafico ultime 24h</p>
      <p>..</p>
      <p>..</p>
      <a class="nav-link" href="/grafico">
      <button class="btn btn-secondary" type="button" >Guarda</button>
    </a>
    </div>
  </div>
  
  <div class="container-fluid mt-3">
    <h3>Ultime Ore</h3>
    <p>grafico andamento meteo ultime 24 ore.</p>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
      Open OffCanvas Sidebar
    </button>
  </div>



<h3>Le città aggiunte ai preferiti sono:</h3>
<ol>
    <li *ngFor="let item of city">
        <div class="card" style="width: 18rem;">
            <h2 class="card-head">{{item}}</h2>
            <div class="card-icon">
            <img src="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_3-128.png" class="card-img-top"  height="120px" width="140px" >
            </div>
            <div class="card-body">
                <li *ngFor="let det of carath"><!--MODELS LOCALE JSON "ESEMPIO"--->
              <h5 class="card-title">{{data.city}}{{data.temperature+'C°'}}{{'Esempio'+ det.temperature }}</h5>
              <p class="card-text"> {{data.information+' '}} {{'Esempio '+ det.condition }} {{data.conditions+' '}}  {{'Esempio % '+ det.humidity }} {{data.humidity+'%   '}} {{data.wind+' km/h'}} {{'Esempio km/h '+ det.vento }} </p>
            </li>
              <a href="/preferiti" class="btn btn-primary">
                <img src="https://img.icons8.com/?size=52&id=45&format=png" class="card-img-top">
            </a>
            </div>
        </div>
    </li>
</ol>
<hr />

<!--
  MODELS:
  information: string | undefined;
  temperature: number | undefined;
  city: string | undefined;
    conditions: string | undefined;
    umidity: number | undefined;
    wind: number | undefined;
<table>
    <thead>
        <tr>
            <th>città </th>
            <th>temperatura </th>
            <th>vento </th>
            <th>città </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let det of carath">
            <td>{{ det.temperature }}</td>
            <td>{{ det.vento }} </td>
            <td>{{ det.humidity }} </td>
            <td>{{ det.condition }} </td>
        </tr>
    </tbody>
</table>


<div class="row">
    <div class="col">
        <h3>Inserimento preferiti</h3>
        <div class="form-group">
            <label for="input-preferiti"></label>
            <input type="text" [(ngModel)]="preferiti" class="form-control" id="preferiti" placeholder="preferiti">
        </div>
    </div>
</div>
-->
<hr />

<div class="row">
    <div class="col">
        <ul>
            <li><strong>Preferiti:</strong>
                {{preferiti}}
            </li>
        </ul>
    </div>
</div>